{% extends 'layout.html' %}

{% extends '../layout.html' %}

{% block title %}Create salon{% endblock %}

{% block head %}
  <link rel="stylesheet" href="css/onboarding.css?1">
{% endblock %}

{% block content %}
  <div class="onboarding">
    <div class="onboarding__container">
      <div class="onboarding__error">{{error}}</div>

      <form action="" method="POST">
        <h1>Welcome</h1>
        <h2>Lets create your first salon</h2>

        <label for="salon_name">Name</label>
        <input id="salon_name" name="name" value="New Salon" autofocus="" placeholder="Name" onfocus="this.select()" />

        <button class="">Next</button>
      </form>

    </div>
  </div>
{% endblock %}
