<aside class="mdc-dialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 class="mdc-dialog__header__title">Create Event</h2>
    </header>

    <form action="" method="POST" onsubmit="calendar.eventDialog.createEvent(this, event, {{ salonId }})">

      <section class="mdc-dialog__body">

        <div class="mdc-text-field">
          <input type="date" id="event-start-date" class="mdc-text-field__input" name="start_date" value="{{ event.start | toDate }}">
          <label class="mdc-floating-label mdc-floating-label--float-above" for="event-start-date">Start date</label>
          <div class="mdc-line-ripple"></div>
        </div>
        
        <div class="mdc-text-field">
          <input type="time" id="event-start-time" class="mdc-text-field__input" name="start_time" value="{{ event.start | toTime }}">
          <label class="mdc-floating-label mdc-floating-label--float-above" for="event-start-time">Start time</label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-text-field">
          <input type="time" id="event-end-time" class="mdc-text-field__input" name="end_time" value="{{ event.end | toTime }}">
          <label class="mdc-floating-label mdc-floating-label--float-above" for="event-end-time">End time</label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-select">
          <select class="mdc-select__native-control" name="master_id">
            {% for user in salonUsers -%}
              <option value="{{ user.user_id }}" {% if masterId === user.id %}selected{% endif %}>{{ user | getUserName }}
            {% else %}
              <option>No master</option>
            {%- endfor %}
          </select>
          <label class="mdc-floating-label mdc-floating-label--float-above">Pick Master</label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div>
          <div class="mdc-text-field">
            <input type="text" id="event-client-name" class="mdc-text-field__input" name="client_name" value="Client">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="event-start-date">Client Name</label>
            <div class="mdc-line-ripple"></div>
          </div>
          
          <div class="mdc-text-field">
            <input type="text" id="event-client-phone" class="mdc-text-field__input" name="client_phone" value="">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="event-start-time">Client Phone</label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>

      </section>

      <footer class="mdc-dialog__footer">
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--delete" onclick="calendar.userDialog.onDelete()" data-user-id="">Delete</button>
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
        <button type="submit" class="mdc-button mdc-dialog__footer__button">Save</button>
      </footer>

    </form>
  </div>

  <div class="mdc-dialog__backdrop"></div>
</aside>
