<aside id="event-dialog" class="mdc-dialog">
  <div class="mdc-dialog__surface">
    <form id="user-form" action="" method="POST" onsubmit="calendar.eventDialog.onSave(event)">

      <section class="mdc-dialog__body">

        <section>
          <div id="event-summary" class="event-summary">
            <div id="event-time-summary">Mon 15, 2018 9AM to 10AM</div>
          </div>

          <div id="event-editor">
            <div>
              <label>Start</label>
              <input type="date">
              <input type="time">
            </div>

            <div>
              <label>End</label>
              <input type="date">
              <input type="time">
            </div>

            <div>
              <label>Master</label>
              <select>Select master</select>
            </div>
            
            <div>
              <label>Client</label>
              <input type="text" />
              <input type="text" />
            </div>
            
          </div>
        </section>

        <div class="text-field-row text-field-row-full-width">
          <div class="text-field-container">
            <div id="name-field" class="mdc-text-field mdc-text-field--fullwidth">
              <input type="text" id="name-field-input" class="mdc-text-field__input" placeholder="Name">
              <div class="mdc-line-ripple"></div>
            </div>
            <p id="name-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true"></p>
          </div>
        </div>
        
        <div class="text-field-row text-field-row-full-width">
          <div class="text-field-container">
            <div id="email-field" class="mdc-text-field mdc-text-field--fullwidth">
              <input type="text" id="email-field-input" class="mdc-text-field__input" placeholder="Email">
              <div class="mdc-line-ripple"></div>
            </div>
            <p id="email-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true"></p>
          </div>
        </div>
        
        <div class="text-field-row text-field-row-full-width">
          <div class="text-field-container">
            <div id="role-field" class="mdc-text-field mdc-text-field--fullwidth">
              <input type="text" id="role-field-input" class="mdc-text-field__input" placeholder="Role">
              <div class="mdc-line-ripple"></div>
            </div>
            <p id="role-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true"></p>
          </div>
        </div>

      </section>

      <footer class="mdc-dialog__footer">
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--delete" onclick="calendar.userDialog.onDelete()" data-user-id="">Delete</button>
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
        <button type="submit" class="mdc-button mdc-dialog__footer__button mdc-button--raised mdc-dialog__footer__button--save">Save</button>
      </footer>

    </form>
  </div>

  <div class="mdc-dialog__backdrop"></div>
</aside>
