{% extends '../layout.html' %}

{% block title %}Calendar{% endblock %}

{% block head %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/material-components-web/material-components-web.css" rel="stylesheet">
  <link href="/css/schedule.css?1" rel="stylesheet">
  <link href="/css/calendar.css?1" rel="stylesheet">
  <link href="/css/date-picker.css?1" rel="stylesheet">
  <link href="/vendor/fullcalendar/fullcalendar.css" rel="stylesheet">
  <link href="/vendor/fullcalendar/scheduler.css" rel="stylesheet">

  <script src="/vendor/jquery/jquery-3.3.1.min.js"></script>
  <script src="/vendor/moment/moment.min.js"></script>
  <script src="/vendor/fullcalendar/fullcalendar.js"></script>
  <script src="/vendor/fullcalendar/scheduler.js?1"></script>

  <script src="/material-components-web/material-components-web.js"></script>
  <script src="/js/calendar.js?1"></script>

  <script>
    $(function initCalendar() {
      var $calendar = $('#calendar').fullCalendar({
        editable: true,
        selectable: true,
        selectHelper: true,
        allDay: false,
        select: open,
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        defaultView: 'agendaDay',
        events: "/schedule/{{ salonId }}/get-events",
        resources: {{ resources | dump | safe }},
        timezone: "{{ salon | getSalonTimezone }}"
      });

      function onSelectEvent(start, end) {
        

        $.post("/schedule/{{ salonId }}/create-event", event)
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true);
        }
        $('#calendar').fullCalendar('unselect');
      }
    });
  </script>

{% endblock %}

{% block content %}
  <div class="schedule">
    <div class="schedule__header">
      {% include "./../partials/header.html" %}
    </div>
    <div class="schedule__body">
      <div class="schedule__sidebar">
        {% include "./sidebar.html" %}
      </div><!-- /.schedule__sidebar -->

      <div class="schedule__calendar">
        {% include "./full-calendar.html" %}
      </div><!-- /.schedule__calendar -->
    </div>
  </div>
{% endblock %}
