<div class="workers-heading">
  <h2 class="workers-heading__title">Barbers</h2>
  <button class="workers-heading__btn" onclick="calendar.userDialog.inviteUser('{{ salonId }}')">
    <i class="material-icons">add</i>
  </button>
</div>

<div id="salon-users-list">
  <ul class="mdc-list mdc-list--two-line" aria-orientation="vertical">
    {% for v in salonUsers %}
    <li class="mdc-list-item" onclick="calendar.userDialog.editUser('{{ v.user_id }}', '{{ salonId }}')">
      <span class="mdc-list-item__text">
        {{ v.user | getUserName }}
        <span class="mdc-list-item__secondary-text">
          {{ v | getUserRole }}
        </span>
      </span>
    </li>
    {% endfor %}
  </ul>
</div>
