<div class="mdc-card">
  {% if services.length === 0 %}
    <div class="text-center p-5">
      <h5 class="mdc-typography--headline5 mb-0 mt-0">{{ __('No services') }}</h5>
      <p>{{ __('Add services which your salon is providing') }}</p>
      <button class="mdc-button mdc-button--raised" onclick="services.serviceDialog.createService('{{ salonId }}')">Add service</button>
    </div>
  {% else %}
    <div class="settings-card-head pl-3 pr-3 mt-3">
      <h6 class="mdc-typography--subtitle2 mb-0 mt-0">{{ __('Services') }}</h6>
      <button class="mdc-icon-button material-icons float-right" onclick="services.serviceDialog.createService('{{ salonId }}')">add_circle</button>
    </div>
    <div class="mdc-list mdc-list--two-line">

      {% for service in services %}
      <a class="mdc-list-item" href="/schedule/{{ salonId }}/service/{{ service.id }}" onclick="event.preventDefault(), services.serviceDialog.editService('{{ salonId }}', '{{ service.id }}')">
        <span class="mdc-list-item__text">
          {{ service | getServiceName }}
          <span class="mdc-list-item__secondary-text">
            {{ service | getServicePrice }}PLN * {{ service | getServiceDuration }}min
          </span>
        </span>
      </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
