<div class="border-bottom bg-white">
  <div class="container d-flex flex-column flex-md-row align-items-center py-2">
    <a class="my-0 mr-md-auto" href="/" title="Home">
      <img src="/images/logo.svg" height="24">
    </a>

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="btn btn-link" href="/explore">Explore</a>
    </nav>

    <% if (isAuthenticated) { %>
    <a class="btn btn-link" href="/profile"><%= userName %></a>
    <% } else { %>
    <a class="btn btn-link" href="/login">Sign in</a>
    <% }  %>
  </div>
</div>

<% if (alerts && alerts.length > 0) { %>
<div class="container pt-3">
  <% alerts.forEach(alert => { %>
  <div class="alert alert-<%= alert.type %>" role="alert">
    <%= alert.text %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% }) %>
</div>
<% } %>

<div class="container pt-3">
  <%- body _%>
</div>

<div class="container py-3">© 2020 Rollbooking</div>