body {
  background: #FAFAFA;
}

.subscribe-form {
  display: block;
}

.unsubscribe-form {
  display: none;
}

.subscription-container .material-icons {
  font-size: 18px;
}

.subscription-container.is-subscribed .subscribe-form {
  display: none;
}

.subscription-container.is-subscribed .unsubscribe-form {
  display: block;
}
