.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.calendar__head {
  position: relative;
  padding-left: 40px;
  height: 65px;
  box-sizing: border-box;
}

.calendar__head-columns {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
}

.calendar__head-column {
  flex: 1 1 auto;
  border-left: #e0e0e0 1px solid;
}

.calendar__timezone {
  position: absolute;
  z-index: 1;
  top: 64px;
  left: 0;
  width: 40px;
  padding: 4px 0;
  color: #757575;
  font-size: 10px;
  background: #fff;
  text-align: center;
  border-top: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
}

.calendar__body {
  position: relative;
  flex: 1 0 auto;
  overflow: hidden;
  border-top: #e0e0e0 1px solid;
}

.calendar__scroll-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.calendar__inner {
  position: relative;
  display: flex;
  flex-direction: row;
}

.calendar__hours {
  position: relative;
  flex: 0 0 40px;
}

.calendar__hour {
  position: relative;
  height: 40px;
  box-sizing: border-box;
}

.calendar__hour:before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -5px;
  text-align: center;
  font-size: 10px;
  content: attr(data-content);
}

.calendar__timelines {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.calendar__timeline {
  position: relative;
  flex: 1 1 auto;
  border-left: #e0e0e0 1px solid;
}

.calendar__timeline:last-child {
  border-right: none;
}

.calendar__lines {}

.calendar__line {
  position: relative;
  height: 40px;
  border-bottom: #e0e0e0 1px solid;
  box-sizing: border-box;
}

.calendar__events {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.calendar__event {}


/**
 * calendar-worker block
 */
.calendar-worker {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 4px 9px;
  box-sizing: border-box;
}

.calendar-worker__date {
  flex: none;
}

.calendar-worker__m {
  font-size: 14px;
}

.calendar-worker__d {
  font-size: 34px;
}

.calendar-worker__user {
  flex: 1;
  font-size: 14px;
  text-align: right;
}

.calendar-worker__name {
  margin-bottom: 4px;
}

.calendar-worker__avatar {
  display: block;
  float: right;
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.calendar-worker__image {
  position: relative;
  display: block;
  width: 100%;
}

.calendar-event {
  position: absolute;
  display: block;
  padding: 3px;
  width: 100%;
  height: auto;
  background: #039be5;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.calendar-event__heading {
  color: #fff;
  font-size: 12px;
}

.calendar-event__sub {
  color: #fff;
  font-size: 12px;
}

#user-dialog .mdc-dialog__surface {
  max-width: 450px;
  min-width: 200px;
}

#user-dialog #name-field {
  height: 64px;
}

#user-dialog #name-field-input {
  font-size: 1.5rem;
}

#user-dialog .mdc-dialog__footer__button--delete {
  --mdc-theme-primary: #e53935;
  margin-right: auto;
  padding: 0 16px 0 16px;
}


/**
 * wrapper for list of salon users
 */
#salon-users-list .mdc-list-item {
  cursor: pointer;
}
