.schedule {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.schedule__header {
  position: relative;
  border-bottom: #e0e0e0 1px solid;
}

.schedule__body {
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px);
}

.schedule__sidebar {
  position: relative;
  flex: 0 0 256px;
}

.schedule__sidebar--secondary {
  background-color: #eeeeee;
}

.schedule__calendar {
  position: relative;
  flex: 1 1 auto;
  border-left: #e0e0e0 1px solid;
  overflow: hidden;
}

.schedule__calendar--secondary {
  background-color: #eeeeee;
}

.sidebar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.sidebar__date-picker {
  position: relative;
  padding: 0 19px 16px 19px;
  border-bottom: #e0e0e0 1px solid;
}

.sidebar__workers {
  position: relative;
  padding: 0;
}

.sidebar__footer {
  position: relative;
  padding: 0 19px 9px 19px;
}

.workers-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-left: 19px;
  padding-right: 10px;
}

.workers-heading__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  color: #757575;
}

.workers-heading__btn {
  display: block;
  width: 36px;
  height: 36px;
  padding: 2px 0 0;
  border: none;
  text-align: center;
  border-radius: 50%;
  background: transparent;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color, opacity 100ms;
  cursor: pointer;
}

.workers-heading__btn:focus {
  outline: none;
}

.workers-heading__btn:hover {
  background-color: rgba(0,0,0,.07);
}

.settings-container {
  width: 500px;
  margin: 24px auto 0 150px;
}

.settings-card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}