.content {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-size: 14px;
}

header.rw-header {
  position: relative;
  padding: 18px 24px;
  line-height: 18px;
  background: #5e93b9;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background: #fff;
  min-height: 100%;
}

html {
  padding: 0;
  margin: 0;
}

h3.rw-header__title {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h4.rw-header__subtitle {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

section.rw-section.rw-section--services {
  position: relative;
}

.rw-filters {
  position: relative;
  padding: 12px 24px;
  border-bottom: 1px solid #E0E0E0;
}

.rw-services {
  position: relative;
}

.rw-service {
  position: relative;
  padding: 12px 24px 12px;
  border-bottom: 1px solid #e0e0e0;
}

.rw-service:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.rw-service__price {
  float: right;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}

.rw-service__name {
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}

.rw-service__duration {
  font-size: 13px;
  color: #616161;
}

.rw-service__slots-container {
  height: 35px;
  overflow: hidden;
  margin-right: -24px;
}

.rw-service__slots {
  display: flex;
  margin-left: -3px;
  margin-right: -3px;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  overflow: auto;
  height: 50px;
}

.rw-service__slot {
  position: relative;
  display: block;
  padding: 3px;
}

.rw-service__slot-time {
  position: relative;
  display: inline-block;
  float: left;
  padding: 4px 9px;
  font-size: 14px;
  color: #1E88E5;
  border: 1px solid #1E88E5;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
}



/**
 * Reservation details
 */
.reservation-details {
  display: flex;
  padding: 12px 24px;
}

.reservation-details__date {
  flex: 0 0 auto;
}

.reservation-details__day {
  font-size: 20px;
}

.reservation-details__month {
  font-size: 12px;
  color: #1E88E5;
}

.reservation-details__main {
  flex: 1 0;
  padding: 0 12px;
}

.reservation-details__service-name {
  font-weight: 500;
}

.reservation-details__brief {
  font-size: 12px;
  color: #a0a6ab;
}

.reservation-details__actions {
  padding-top: 9px;
  margin-left: -9px;
  margin-right: -9px;
}

.reservation-details__action {
  border: none;
  color: #1E88E5;
  background: transparent;
  padding: 7px 9px;
  cursor: pointer;
}

.reservation-details__action {}

.reservation-details__more {
  flex: 0 0 auto;
  text-align: right;
}

.reservation-details__price {
  font-size: 16px;
  color: #4e5665;
}

.reservation-details__duration {
  font-size: 12px;
  color: #a0a6ab;
}


/**
 * Reservation Contacts details
 */
.reservation-contact-details {
  position: relative;
  padding: 12px 24px;
}

.reservation-contact-details__row {
  display: flex;
  flex-direction: row;
  margin-left: -7px;
  margin-right: -7px;
  margin-bottom: 12px;
}

.reservation-contact-details__col {
  flex: 1 0 auto;
  padding: 0 7px;
}

.reservation-contact-details__label {
  display: block;
  color: #424d57;
  margin-bottom: 4px;
}

.reservation-contact-details__control {
  display: block;
  padding: 0 12px;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #bcc6d0;
  box-sizing: border-box;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
}

.reservation-contact-details__control--invalid {
  background-color: #fddedc;
}

.reservation-contact-details__hint {
  position: relative;
  padding-top: 4px;
  font-size: 12px;
  color: #4e5665;
}

/**
 * Reservation Confirm Footer
 */
.reservation-confirm-footer {
  padding: 0 24px;
}


/**
 * Reservation Confirm Button
 */
.reservation-confirm-btn {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  border: none;
  color: #fff;
  background: #1E88E5;
  cursor: pointer;
  box-sizing: border-box;
}

.reservation-confirm-btn:disabled {
  background-color: rgba(0,0,0,.12);
  color: rgba(0,0,0,.37);
  cursor: default;
}