<%- include("../components/event-cart", {
  day: day,
  month: month,
  userName: userName,
  serviceName: serviceName,
  time: time,
 }) %>

<div class="border-bottom pt-3 mb-3"></div>

<form method="POST" action="">
  <div class="form-row">
    <div class="form-group col-md-6">
      <% if (user) { %>
      <label for="staticName">Name</label>
      <input type="text" readonly class="form-control-plaintext" id="staticName" value="<%= user.name %>">
      <% } else { %>
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput">
      <% } %>
    </div>

    <div class="form-group col-md-6">
      <% if (user) { %>
      <label for="staticName">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticName" value="<%= user.email %>">
      <% } else { %>
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" placeholder="">
      <% } %>
    </div>
  </div>

  <div class="form-group">
    <label for="phoneInput">Phone</label>
    <input type="phone" class="form-control" id="phoneInput" placeholder="666-555-444">
  </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">Accept term of usage</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Book</button>
</form>