<div class="rw-services">
  {% for salonService in salonServices %}
  <div class="rw-service">
    <div class="rw-service__price">{{ salonService | getServicePrice }}</div>
    <div class="rw-service__name">{{ salonService | getServiceName }}</div>
    <div class="rw-service__duration">{{ salonService | getServiceDuration }}</div>
    <div class="rw-service__slots-container">
      <div class="rw-service__slots">
        {% for slot in salonServicesSlots[salonService.id] %}
        <div class="rw-service__slot">
          <div class="rw-service__slot-time">{{ slot | dateToLocalTime }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  <div class="rw-no-services">No services available.</div>
  {% endfor %}
</div>
