{% extends '../layout.html' %}

{% block title %}
  Reservation
{% endblock %}

{% block head %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:200,400,500&amp;subset=cyrillic-ext" rel="stylesheet">
  <link href="/css/widgets.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="content">
    <header class="rw-header">
      <h3 class="rw-header__title">{{ salon.name }}</h3>
      <h4 class="rw-header__subtitle">Reservation</h4>
    </header>

    <main>
      <section class="rw-section rw-section--confirm">
        {% include "./reservation-details.html" %}
        {% include "./reservation-contact-details.html" %}
        <button>Confirm</button>
      </section>
    </main>
  </div>
{% endblock %}
