<div class="reservation-details">
  <div class="reservation-details__date">
    <div class="reservation-details__day">23</div>
    <div class="reservation-details__month">MAY</div>
  </div>
  <div class="reservation-details__main">
    <div class="reservation-details__service-name">Lorem ipsum detar</div>
    <div class="reservation-details__brief">
      <div class="reservation-details__start-time">4 PM</div>
      <div class="reservation-details__start-time">Barak Obama(auto)</div>
    </div>
    <div class="reservation-details__actions">
      <button class="reservation-details__action">EDIT</button>
      <button class="reservation-details__action">REMOVE</button>
    </div>
  </div>
  <div class="reservation-details__more">
    <div class="reservation-details__price">$25</div>
    <div class="reservation-details__duration">1h</div>
  </div>
</div>
