{% extends '../layout.html' %}

{% block title %}
  Reservation
{% endblock %}

{% block head %}
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/material-components-web/material-components-web.css" rel="stylesheet">
  <link href="/css/schedule.css?1" rel="stylesheet">
  <link href="/css/calendar.css?1" rel="stylesheet">
  <link href="/css/date-picker.css?1" rel="stylesheet">

  <script src="/material-components-web/material-components-web.js"></script>
  <script src="/js/calendar.js?1"></script>
{% endblock %} -->

{% block content %}
  <pre>{{ salon | dump(2) }}</pre>
  <pre>{{ salonUsers | dump(2) }}</pre>
  <pre>{{ salonServices | dump(2) }}</pre>
{% endblock %}



