<div class="reservation-contact-details">
  <div class="reservation-contact-details__row">
    <div class="reservation-contact-details__col">
      <label for="first_name" class="reservation-contact-details__label">First Name</label>
      <input name="first_name" id="first_name" type="text" class="reservation-contact-details__control reservation-contact-details__control--invalid" />
      <div class="reservation-contact-details__hint">Field is required</div>
    </div>
    <div class="reservation-contact-details__col">
      <label for="last_name" class="reservation-contact-details__label">Last Name</label>
      <input name="last_name" id="last_name" type="text" class="reservation-contact-details__control" />
    </div>
  </div>

  <div class="reservation-contact-details__row">
    <div class="reservation-contact-details__col">
      <label for="email" class="reservation-contact-details__label">Email or Phone</label>
      <input name="email" id="email" type="text" class="reservation-contact-details__control" />
    </div>
  </div>

</div>