<div class="reservation-filters">
  <form id="reservation-filters-form" action="" method="post" onsubmit="onFilterServices(this, event)">
    <input type=hidden name=salonId value={{ salonId }} />

    <div class="reservation-filters__row">
      <label for="reservation-date" class="reservation-filters__label">Date</label>
      <select id="reservation-date" class="reservation-filters__control" name="date" onchange="onChangeDate(this)">
        {% for freeDate in salonFreeDates -%}
          <option value="{{ freeDate.toISOString() }}">{{ freeDate.toDateString()}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="reservation-filters__row">
      <label for="reservation-barber" class="reservation-filters__label">Barber</label>
      <select id="reservation-barber" class="reservation-filters__control" name="masterId" onchange="onChangeMaster(this)">
        <option value="">Any Barber</option>
        {% for salonUser in salonUsers -%}
          <option value="{{ salonUser.user_id }}">{{ salonUser.user | getUserName }}, {{ salonUser | getUserRole }}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="reservation-filters__row">
      <label for="reservation-service" class="reservation-filters__label">Service</label>
      <select id="reservation-service" class="reservation-filters__control" name="serviceId" onchange="onChangeService(this)">
        {% for salonService in salonServices -%}
          <option value="{{ salonService.id }}">{{ salonService | getServiceName }}</option>
        {% endfor %}
      </select>
    </div>

  </form>
</div>
