{% extends '../layout.html' %}

{% block title %}Edit Service{% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/vendor/mdc/material-components-web.0.40.0.css" rel="stylesheet">
<script src="/vendor/mdc/material-components-web.0.40.0.js"></script>
<script src="/js/material-components-web.js"></script>
<script src="/js/salon-settings.js"></script>
{% endblock %}

{% block content %}
<div class="container-full border-bottom">
  {% include "./../partials/header.html" %}
</div>

<div class="container-full d-flex flex-row">
  <div class="sidebar w-25 p-4">
    {% include "./partials/sidebar.njk" %}
  </div>

  <div class="content sidebar w-50">
    <h6 class="mdc-typography--headline6 border-bottom mb-3 mt-3">Edit Service</h6>

    {% include "./partials/service-form.njk" %}

  </div>
</div>
{% endblock %}
