All aboard!

You have been invited to join <%= businessName %>. Please follow the link bellow for accepting invitation:

<a href="<%= url %>"><%= url %></a>

If you don't expect any invitations from <strong><%= businessName %></strong>, please ignore this mail.
