<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <nav class="navbar bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/img/brand/rollbooking.svg" height="25" class="d-inline-block align-top" alt="">
                </a>
            </div>
        </nav>
        {% endblock %}


        {% block content %}{% endblock %}

        <!-- <script src="js/vendor/modernizr-3.5.0.min.js"></script> -->
        <!-- <script src="js/vendor/popper-1.12.9.js"></script> -->
        <script src="js/vendor/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
