<div class="border-bottom mb-3 pb-2 d-flex align-items-center justify-content-between">
  <h5 class="h5">Users</h5>
  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#inviteModal">Invite people</button>
</div>

<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inviteModalLabel">Invite people</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="?action=invite-by-email" method="POST">
          <div class="input-group">
            <input type="email" name="email" class="form-control" placeholder="hey@example.com"
              aria-label="People email" required>
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Invite</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ul class="list-unstyled">
  <% employees.forEach(employe => { %>
  <li class="media mb-3">
    <img src="<%= employe.avatarUrl %> " class="mr-3 rounded" alt="<%= employe.name %>" width="64">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= employe.name %></h5>
      <div><%= employe.possition %></div>
    </div>
  </li>
  <% }) %>
</ul>