<ul class="mdc-list mdc-list--two-line" aria-orientation="vertical">
  {% for service in salonServices %}
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">{{ service | getServiceName }}</span>
      <span class="mdc-list-item__secondary-text">{{ service | getServiceDuration }}min, 
      {{ salon | getSalonCurrencySymbol }}{{ service | getServicePrice }}</span>
    </span>
  </li>
  {% else %}
  <div class="text-center m-4">No services</div>
  {% endfor %}
</ul>