<div class="mdc-card mdc-card--outlined">
  <ul class="mdc-list" aria-orientation="vertical">
    <a class="mdc-list-item" href="/salon{{ salonId }}/settings/general">
      <span class="mdc-list-item__text">General</span>
    </a>
    <a class="mdc-list-item" href="/salon{{ salonId }}/settings/services">
      <span class="mdc-list-item__text">Services</span>
    </a>
    <a class="mdc-list-item" href="/salon{{ salonId }}/settings/masters">
      <span class="mdc-list-item__text">Masters</span>
    </a>
  </ul>
</div>