<div class="calendar">
  <div class="calendar__head">
    <div class="calendar__head-columns">
      <div class="calendar__head-column">
        {% include "./calendar-worker.html" %}
      </div>
      <div class="calendar__head-column">
        {% include "./calendar-worker.html" %}
      </div>
    </div>
  </div><!-- /.calendar__head -->

  <div class="calendar__timezone">GTM+02</div>

  <div class="calendar__body">
    <div class="calendar__scroll-bar">
      <div class="calendar__inner">
        <div class="calendar__hours">
          {% include "./calendar-hours.html" %}
        </div><!-- /.calendar__hours -->

        <div class="calendar__timelines">
          <div class="calendar__timeline">
            <div class="calendar__lines">
              {% include "./calendar-lines.html" %}
            </div>
            <div class="calendar__events">
              {% include "./calendar-events.html" %}
            </div>
          </div><!-- /.calendar__timeline -->
          <div class="calendar__timeline">
            <div class="calendar__lines">
              {% include "./calendar-lines.html" %}
            </div>
            <div class="calendar__events">
              {% include "./calendar-events.html" %}
            </div>
          </div>
        </div>
      </div><!-- /.calendar__inner -->
    </div><!-- /.calendar__scroll-bar -->
  </div><!-- /.calendar__body -->
</div>

<!-- <h1>Calendar</h1> -->
<!-- <pre>{{ JSON.stringify(user, 2, 2) }}</pre> -->
