<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
<div class="calendar__line"></div>
