<div class="date-picker">
  <div class="date-picker__head">
    <div class="date-picker__current">May 2018</div>
    <div class="date-picker__nav">
      <button class="date-picker__prev">
        <i class="material-icons">chevron_left</i>
      </button>
      <button class="date-picker__next">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
  </div>

  <div class="date-picker__body">
    <div class="date-picker__row">
      <div class="date-picker__col">
        <div class="date-picker__day-name" title="Sunday">S</div>
      </div>
      <div class="date-picker__col">
        <div class="date-picker__day-name" title="Monday">M</div>
      </div>
      <div class="date-picker__col">
        <div class="date-picker__day-name" title="Tuesday">T</div>
      </div>
      <div class="date-picker__col">
        <div class="date-picker__day-name" title="Wednesday">W</div>
      </div>
      <div class="date-picker__col">
        <div class="date-picker__day-name" title="Thursday">T</div>
      </div>
      <div class="date-picker__col">
        <div class="date-picker__day-name" title="Friday">F</div>
      </div>
      <div class="date-picker__col">
        <div class="date-picker__day-name" title="Saturday">S</div>
      </div>
    </div>
    <div class="date-picker__row">
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
    </div>
    <div class="date-picker__row">
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
    </div>
    <div class="date-picker__row">
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
    </div>
    <div class="date-picker__row">
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
      <div class="date-picker__col">
        <button class="date-picker__day">1</button>
      </div>
    </div>

  </div>
</div>