{% extends 'layout.html' %}

{% extends '../layout.html' %}

{% block title %}Calendar{% endblock %}

{% block head %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <link href="/css/schedule.css?1" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="schedule">
    <div class="schedule__header">
       {% include "./../partials/header.html" with user only %}
    </div>
    <div class="schedule__body">
      <div class="schedule__sidebar">
        {% include "./sidebar.html" %}
      </div>

      <div class="schedule__calendar">
        {% include "./calendar.html" %}
      </div>
    </div>
  </div>
{% endblock %}
