<div class="workers-heading">
  <h2 class="workers-heading__title">Workers</h2>
  <button class="workers-heading__btn" onclick="calendar.openWorkerDialog()">
    <i class="material-icons">add</i>
  </button>
</div>

<div class="workers-list">
  {% for v in users %}
  <div class="worker">
    <div class="worker__name">{{ v.first_name }} {{ v.last_name }}</div>
    <div class="worker__options">
      <i class="material-icons">more_vert</i>
    </div>
  </div>
  {% endfor %}
</div>

<aside id="worker-dialog" class="mdc-dialog"
  role="alertdialog"
  aria-labelledby="worker-dialog-with-list-label">

  <div class="mdc-dialog__surface">
    <section class="mdc-dialog__body">
      <div class="text-field-row text-field-row-full-width">
        <div class="text-field-container">
          <div id="name-field" class="mdc-text-field mdc-text-field--fullwidth">
            <input type="text" id="name-field-input" class="mdc-text-field__input" placeholder="Name">
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>
      
      <div class="text-field-row text-field-row-full-width">
        <div class="text-field-container">
          <div id="email-field" class="mdc-text-field mdc-text-field--fullwidth">
            <input type="text" id="email-field-input" class="mdc-text-field__input" placeholder="Email">
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>
      
      <div class="text-field-row text-field-row-full-width">
        <div class="text-field-container">
          <div id="role-field" class="mdc-text-field mdc-text-field--fullwidth">
            <input type="text" id="role-field-input" class="mdc-text-field__input" placeholder="Role">
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>

    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Decline</button>
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Accept</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
