<ul class="mdc-list mdc-list--two-line mdc-list--non-interactive mdc-list--dense" aria-orientation="vertical">
  {% for service in salonServices -%}
  <li class="mdc-list-item" data-service-list-item="{{ service.id }}">
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">{{ service | getServiceName }}</span>
      <span class="mdc-list-item__secondary-text">{{ service | getServiceDuration }}min · {{ salon | getSalonCurrencySymbol }}{{ service | getServicePrice }}</span>
    </span>
    <span class="mdc-list-item__meta">
      <a class="mdc-button" href="/salon{{ salonId }}/settings/services/{{ service.id }}/edit">
        <i class="material-icons mdc-button__icon" aria-hidden="true">edit</i> Edit
      </a>
      <button class="mdc-button" style="--mdc-theme-primary: #F44336;" onclick="salonSettings.deleteService({{ salonId }}, {{ service.id }})">
        <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i> Delete
      </button>
    </span>
  </li>
  <li role="separator" class="mdc-list-divider"></li>
  {% else %}
  <div class="text-center m-4">No services</div>
  {% endfor %}
</ul>